<div class="container">

    <div style="padding: 20px 0 20px 0;">
        <button (click)="addEmployee()" class="btn btn-light">
            Add Employee
        </button>
    </div>

    <div style="padding: 0 0 20px 0;">
        <div class="form-check-inline">
            <label class="form-check-label" for="Active">
                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1"
                    (change)="GetAllEmployees(true)" checked>Active
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="Inactive">
                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2"
                    (change)="GetAllEmployees(false)">InActive
            </label>
        </div>
    </div>

    <div *ngIf="employeesList.length == 0" style="padding: 20px 20px 20px 0;">
        <p>There are no employees</p>
    </div>

    <div *ngIf="employeesList.length !== 0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contact Number</th>
                    <th *ngIf="InActiveGrid">Joined Date</th>
                    <th *ngIf="!InActiveGrid">Relieve Date</th>
                    <th>Technical Stack</th>
                    <th>Mapped to Project</th>
                    <th colspan="3" *ngIf="InActiveGrid">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeesList">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.contactNumber}}</td>
                    <td *ngIf="InActiveGrid">{{employee.joined | date: 'dd-MMM-yyyy'}}</td>
                    <td *ngIf="!InActiveGrid">{{employee.relieve | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{employee.technicalStack}}</td>
                    <td>{{employee.mappedToProject}}</td>
                    <td *ngIf="InActiveGrid">
                        <i *ngIf="employee.isActive" class="fas fa-edit" style="cursor:pointer;"></i>
                    </td>
                    <td *ngIf="InActiveGrid">
                        <i *ngIf="employee.isActive" class="far fa-file" style="cursor:pointer;"></i>
                    </td>
                    <td *ngIf="InActiveGrid">
                        <i *ngIf="employee.isActive" class="fas fa-trash-alt" style="cursor:pointer;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>